* {
    /* border: 1px solid red; */
    margin: 0;
    text-wrap: wrap;
    overflow: hidden;
}

body {
    background-color: darkslategray;
}

.header-container {
    max-height: 500px;
}

a {
    text-decoration: none;
    color: black;
}

main {
    background-color: blue;
    margin: 0 10.5%;
    padding: 40px 10%;
}

footer {
    background-color: rebeccapurple;
    margin: 0;
    padding: 25px;
}

.webpage-title {
    text-align: center;
}

.head-img {
    width: 100%;
    height: auto;
}

.head-container {
    /* background-image: url('./assets/RecentPhoto.jpg'); */
    /* padding: 10%; */
    position: absolute;
    top: 15%;
    left: 30%
}

.nav-container {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: rgb(92, 38, 0);
    padding: 0;
}

.nav-link {
    text-decoration: none;
    margin: 0 10px;
    background-color: rgb(92, 38, 0);
    padding: 5%;
}


/* TODO: add padding and formatting for main section titles */

/* TODO: add hovering highlight in CSS for navbar and project cards */

/* TODO: general css for footer, getting images and links */

@media screen and (max-width: 600px) {
    ul {
        padding: 0;
    }
    .head-container{
        top: 5%;
        left: 20%
    }
    main {
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .nav-list {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav-link {
        padding: 10px 0;
        width: 50%;
        text-align: center;
        margin: 0;
    }
}