@font-face {
    font-family: m5x7;
    src: url('./assets/m5x7.ttf');
  }

  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 2.75em;
  }
  h3 {
    font-size: 2.5em;
  }
  h4 {
    font-size: 2.0em;
  }
  h5 {
    font-size: 1.35em;
  }
  h6 {
    font-size: 1em;
  }

* {
    /* border: 1px solid red; */
    margin: 0;
    text-wrap: wrap;
    font-family: m5x7;
}

/* TODO: figure out where best to put drop shadow for impact */

body {
    background-color: #111D4A;
}

.header-container {
    overflow: hidden;
    max-height: 500px;
    background-color: linear-gradient(to left top, black, rgb(0,0,0,0));
}

a {
    font-size: 2em;
}

p {
    padding-top: 14px;
    font-size: 1.5em;
}

main {
    background-color: #8789C0;
    margin: 0 10.5%;
    padding: 40px 10%;
    border-radius: 10px;

}

footer {
    background-color: #8380D6;
    margin: 0;
    padding: 25px;
    border-radius: 10px 0 0 0;
    text-align: center;
}

.webpage-title {
    text-align: center;
}

.head-img {
    width: 100%;
    height: auto;
}

.floating-container {
    color: white;
    position: absolute;
    top: 15%;
    left: 20%;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 17px;
    border-radius: 10%;
}
.floating-container h1 {
    font-size: 5em;
}

.nav-container {
    display: flex;
    justify-content: center;
    margin: 0 10px;
    
}

.nav-list {
    display: flex;
    justify-content: space-around;
    width: 80%;
    background-color: #C2CAE8;
    padding: 0;
    border-radius: 10px;
}

.nav-link {
    text-decoration: none;
    margin: 0 10px;
    color: black;    
    background-color: #C2CAE8;
    padding: 3% 5%;
    border-radius: 10px;
}
.nav-link:hover {
    background-color: #8999D2;
}

.active {
    background-color: #8999D2;
    border: dotted 3px #45F0DF;
}

.icon {
    height: 128px;
    width: 128px;
    padding: 20px;
}
.icon:hover {
    /* background-color: rgb(194, 202, 232, 0.6); */
    /* border-radius: 8px; */
    opacity: 0.4;
}
.proficiencies-container {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.proficiency-block {
    padding-top: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}

.contact-text {
    width: 20%;
    margin: 20px 0;
    font-size: 1.3em;
}
.contact-text:hover {
    background-color: #45F0DF;
}

#contact-message {
    height: 15vh;
    margin: 20px 0;
    font-size: 1.3em;
}
#contact-message:hover {
    background-color: #45F0DF;
}

button {
    margin: 20px 0;
    width: 20%;
    font-size: 1.3em;
}
button:hover {
    background-color: #45F0DF;
}

.error-text {
    color: rgb(161, 31, 31);
    font-size: 3em;
}

.port-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
}
.proj-card {
    padding-top: 40px;
    width: 25vw;
    height: 25vh;
}
.proj-img {
    position: absolute;
    overflow: hidden;
    width: 25vw;
    height: 25vh;
    /* opacity: 0.3; */
}
.card-float {
    position: absolute;
    opacity: 0;
    width: 25vw;
    height: 25vh;
    background-color: rgb(69, 240, 223, 0.85);
    /* background-color: rgb(0, 0, 0,0.5); */
}
.card-float:hover {
    opacity: 1;
}
.card-float a {
    text-decoration: none;
    color: black;
    display: inline;
    padding-top: 2%;
    padding-left: 6%;
    opacity: 0.5;
}
.card-float a:hover {
    opacity: 1;
}
.card-icon {
    display: inline;
    height: 56px;
    width: 56px;
    padding-top: 8%;
    padding-left: 2%;
    opacity: 0.5;
}
.card-icon:hover {
    opacity: 1;
}
.card-float p {
    padding-top: 2%;
    padding-left: 6%;
}

@media screen and (max-width: 600px) {
    ul {
        padding: 0;
    }
    .floating-container{
        top: 5%;
        left: 8%
    }
    .floating-container h1 {
        font-size: 3em;
    }
    main {
        margin: 0 8px;
    }
    .nav-list {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .nav-link {
        padding: 10px 0;
        width: 48%;
        text-align: center;
        margin: 0;
    }
    .proficiencies-container {
        flex-direction: column;
    }
    .contact-text {
        width: 70%;
    }
    #contact-message {
        height: 55vh;
    }
    button {
        width: 50%
    }
    .port-container {
        flex-direction: column;
        align-items: center;
    }
    .proj-card {
        width: 75vw;
    }
    .proj-img {
        width: 75vw;
    }
    .card-float {
        width: 75vw;
    }
    .card-float a{
        padding-left: 8%;
    }
    .card-float p {
        padding-left: 8%;
    }
}